/clustering_and_similarity/datas
/clustering_and_similarity/scripts/.ipynb_checkpoints
/kaggle/datas
/kaggle/.ipynb_checkpoints
regression/dataset
hackerearth/employee_attrition/dataset
kaggle/Untitled Folder
regression/regression_week2/data
regression/regression_week3/data
regression/regression_week3/zoom_amd64.deb
regression/week1/Philadelphia_Crime_Rate_noNA.csv
regression/week1/home_data.sframe
kaggle/scripts/submission_titanic.csv
kaggle/scripts/submission1.csv